@import '~@styles-variables';

.synonyms-list {
    position: absolute;
    top: $synonyms-list-top;
    left: $synonyms-list-left;
    width: $synonyms-list-width;
    background: $synonyms-list-bg;
    border: $synonyms-list-border;
    text-align: left;

    &__item {
        padding: $synonyms-list-item-padding;
        transition: $synonyms-list-item-transition;
        color: $synonyms-list-item-color;

        &:hover {
            color: $synonyms-list-item-color-active;
        }
    }
}
