/* main */
$body-font: Arial, Helvetica, sans-serif;

/* editor */
$editor-max-width: 1000px;
$editor-top-padding: 50px;

/* toolbar */
$editor-toolbar-border: 1px solid #CCCCCC;
$editor-toolbar-border-radius: 10px 10px 0 0;
$editor-toolbar-bg: #fff;
$editor-toolbar-padding: 0 10px;

/* editor view */
$editor-view-border: 1px solid #CCCCCC;
$editor-view-border-top: none;
$editor-view-border-radius: 0 0 10px 10px;
$editor-view-padding: 10px 5px;
$editor-view-frame-border: 0;
$editor-view-frame-width: 100%;
$editor-view-frame-min-height: 300px;

/* button */
$editor-button-padding: 0 10px;
$editor-button-bg: transparent;
$editor-button-hover-bg: #ebebeb;
$editor-button-color: #333333;
$editor-button-color-active: #0098f7;
$editor-button-border: 0;
$editor-button-border-radius: 4px;
$editor-button-width: 40px;
$editor-button-height: 40px;
$editor-button-fz: 18px;
$editor-button-transition: .2s;

/* synonyms-list */
$synonyms-list-top: 40px;
$synonyms-list-left: 0;
$synonyms-list-width: 150px;
$synonyms-list-bg: #fff;
$synonyms-list-border: 1px solid #333;
$synonyms-list-item-padding: 5px;
$synonyms-list-item-transition: .2s;
$synonyms-list-item-color: #333;
$synonyms-list-item-color-active: #0098f7;
