@import '~@styles-variables';

.button {
    position: relative;
    display: block;
    padding: $editor-button-padding;
    box-sizing: border-box;
    background: $editor-button-bg;
    color: $editor-button-color;
    outline: none;
    border: $editor-button-border;
    border-radius: $editor-button-border-radius;
    cursor: pointer;
    text-align: center;
    height: $editor-button-height;
    width: $editor-button-width;
    font-size: $editor-button-fz;
    transition: $editor-button-transition;

    &--active {
        color: $editor-button-color-active;
    }

    &:hover {
        background: $editor-button-hover-bg;
    }
}
