@import '~@styles-variables';

.editor-view {
    border: $editor-view-border;
    border-top: $editor-view-border-top;
    border-radius: $editor-view-border-radius;
    padding: $editor-view-padding;

    &__frame {
        border: $editor-view-frame-border;
        width: $editor-view-frame-width;
        min-height: $editor-view-frame-min-height;
    }
}
