@import '~@styles-variables';

.toolbar {
    display: flex;
    background: $editor-toolbar-bg;
    border: $editor-toolbar-border;
    border-radius: $editor-toolbar-border-radius;
    padding: $editor-toolbar-padding;
}
